# Executável final gerado pelo compilador
concessionaria

# Pasta com arquivos de logs do sistema
logs/
*.log

# Arquivos de objeto e temporários da compilação
obj/
*.o
*.out

# Arquivos de dados temporários ou locais
data/estoque/
data/backup/
